<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="waei-jiten">
    <meta name="title" content="Waei Jiten Data">
    <meta name="description" content="Japanese-English dictionary with example sentences">
    <meta name="keywords" content="japanese, english, dataset, open source dataset, dictionary">
    <meta name="author" content="hs52255">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <title>Waei Jiten</title>
</head>
<body>
<h1>User Profile</h1>
<div class="description"><span>Welcome </span></div>
<hr>
<br>
<div>
    <nav>
        <a href="/" class="button button1"><span class="sp">Index -></span></a>
    </nav>
</div>
<div><span>Welcome user</span></div>

</body>
</html>